# LiveKit API Configuration
LIVEKIT_API_KEY=APIBj3yrXtyPRNq
LIVEKIT_API_SECRET=2Q66dFk7HWpxTuTneMT4fQlsxeIlmkn47ApjnJiSukiA
LIVEKIT_URL=wss://video.recontext.online

# Server Configuration
PORT=3000
NODE_ENV=production

# Optional: Logging
LOG_LEVEL=info
